.content {
  border-left: 1px solid $border-color;
  margin-top: 6rem;
  padding: 3.5rem 3rem;

  @include screen(md) {
    padding: 4.2rem 5rem;
  }
}

.category {
  &__title {
    border-bottom: 1px solid $border-color;
    font-size: 2rem;
    font-weight: normal;
    line-height: 1.17;
    margin-bottom: 3rem;
    padding-bottom: 1rem;    

    @include screen(md) {
      font-size: 2.4rem;
    }
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include screen(md) {
      justify-content: flex-start;
    }
  }
}
